html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #2A9DCE; 
	background: #fff url(http://wowslider.com/sliders/demo-9/data/images/ge202.jpg) no-repeat bottom right; 
	margin: 0; 
	padding: 0;

	}

